<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: layout(~{:: title},~{:: #css},~{:: .content-wrapper},~{:: #js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chi tiết phim</title>

    <th:block id="css">
        <!--Summernote-->
        <link rel="stylesheet" href="/admin-assets/plugins/summernote/summernote-bs4.min.css">
        <!--Select2-->
        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css" />
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Movie</a>
                            </li>
                            <li class="breadcrumb-item active" th:text="${movie.getName()}">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </button>
                        <button type="button" class="btn btn-info px-4" id="btnUpdateMovie">
                            Lưu
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger px-4" id="btnDeleteMovie">
                            Xóa
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <form id="form-movie">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Tên phim</label>
                                                <input type="text" class="form-control" id="name" name="name" th:value="${movie.getName()}"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Trailer URL</label>
                                                <input type="text" class="form-control" id="trailer" name="trailer" th:value="${movie.getTrailer()}"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Mô tả ngắn</label>
                                                <textarea id="description" class="form-control" rows="3" name="description" th:text="${movie.getDescription()}"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Thể loại</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="genre">
                                                        <option th:each="genre :${genres}" th:text="${genre.name}" th:value="${genre.id}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Đạo diễn</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="director">
                                                        <option th:each="director :${directors}" th:text="${director.name}" th:value="${director.id}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Diễn viên</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="actor">
                                                        <option th:each="actor :${actors}" th:text="${actor.name}" th:value="${actor.id}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>



                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Trạng thái</label>
                                                <select id="status" class="form-control" th:value="${movie.getStatus()? '1':'0'}">
                                                    <option value="0" th:selected="${!movie.getStatus()}">
                                                        Ẩn
                                                    </option>
                                                    <option value="1" th:selected="${movie.getStatus()}">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Release Year</label>
                                                <input type="text" class="form-control" id="releaseYear" name="releaseYear" th:value="${movie.getReleaseYear()}"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Thể loại phim</label>
                                                <select id="movieType" class="form-control" th:value="${movie.getType()}">
                                                    <option th:each="type : ${movieType}" th:value="${type}" th:text="${type}" th:selected="${type==movie.getType()}" >
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Quốc gia</label>
                                                <select id="country" class="form-control" th:value="${movie.getCountry().getId()}">
                                                    <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}" th:selected="${country.id == movie.country.id}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="thumbnail-preview-container mb-3">
                                                    <img src="" alt="" id="poster">
                                                </div>
                                                <label for="input-poster" class="btn btn-info btn-flat" data-toggle="modal" data-target="#modal-xl">
                                                    Chọn hình ảnh
                                                </label>
                                                <input type="file" id="input-poster" class="d-none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Danh sách tập phim</h4>
                                    <button type="button" class="btn btn-info px-4 m-2" id="btnCreateEpisodeModal" data-bs-toggle="modal" data-bs-target="#modal-create-ep">
                                        Tạo tập phim
                                    </button>
                                    <table class="table table-bordered table-hover" id="table-episode">
                                        <thead >
                                        <tr>
                                            <th>#</th>
                                            <th>Tên tập phim</th>
                                            <th>Video URL</th>
                                            <th>Thời lượng</th>
                                            <th>Ngày tạo</th>
                                        </tr>
                                        </thead>
                                        <tbody id="episodeList">
                                            <tr th:each="episode : ${episodes}">
                                                <td th:text="${episode.orders}"></td>
                                                <td th:text="${episode.name}"></td>
                                                <td th:text="${episode.videoURL}"></td>
                                                <td th:text="${episode.duration}"></td>
                                                <td th:text="${#temporals.format(episode.createdAt,'dd/MM/yyyy')}"></td>
                                                <td>
                                                    <button th:onclick="'uploadVideo('+${episode.id}+')'" class="btn btn-sm btn-warning text-white">
                                                        <i class="fas fa-upload"></i>
                                                    </button>
                                                    <input type="file" th:id="'input-video-'+${episode.id}" class="d-none">
                                                    <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal-trailer" th:onclick="'previewVideo('+${episode.id}+')'">
                                                        <i class="fas fa-play"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-success" th:onclick="'openUpdateModal('+${episode.id}+')'">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-danger" th:onclick="'deleteEp('+${episode.id}+')'">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="modal fade " id="modal-trailer">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <video width="100%" controls id="video">
                                                        <source id="source" src="" type="video/mp4">
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="modal-create-ep">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="modal-title-create">Tạo tập phim</h4>
                                                    <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <form id="episodeForm">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Tên tập phim</label>
                                                            <input type="text" class="form-control" id="nameEpisode" name="nameEpisode"/>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>Thứ tự tập phim</label>
                                                            <input type="text" class="form-control" id="ordersEpisode" name="ordersEpisode"/>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="submit" class="btn btn-primary" id="btnCreateEpisode">Tạo</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>


<th:block id="js">
    //Easymde
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

    //Summernote
    <script src="/admin-assets/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>

    <script th:inline="javascript">
        //Initialize Select2 Elements
        $(".select2").select2();

        let currentMovie = [[${movie}]]
        console.log(currentMovie)

        let genreList = currentMovie.genres;
        genreList=genreList.map(genre => genre.id.toString())
        $('#genre').val(genreList);
        $('#genre').trigger('change');

        let directorList = currentMovie.directors;
        directorList=directorList.map(director => director.id.toString())
        $('#director').val(directorList);
        $('#director').trigger('change');

        let actorList = currentMovie.actors;
        actorList=actorList.map(actor => actor.id.toString())
        $('#actor').val(actorList);
        $('#actor').trigger('change');

        // // Initialize editor
        // const easyMDE = new EasyMDE({
        //     element: document.getElementById("content"),
        //     spellChecker: false,
        //     maxHeight: "500px",
        //     renderingConfig: {
        //         codeSyntaxHighlighting: true,
        //     },
        // });


        // // Summernote
        // $('#content').summernote({
        //     height: 600,                 // set editor height
        //     minHeight: null,             // set minimum height of editor
        //     maxHeight: null,             // set maximum height of editor
        //     focus: true,                 // set focus to editable area after initializing summernote
        //     disableLinkTarget: true
        // });

        //Update movie
        let nameEl = document.getElementById("name")
        let trailerEl = document.getElementById("trailer")
        let descriptionEl = document.getElementById("description")
        let statusEl = document.getElementById("status")
        let releaseYearEl = document.getElementById("releaseYear")
        let movieTypeEl = document.getElementById("movieType")
        let countryEl = document.getElementById("country")
        const btnCreateMovie = document.getElementById("btnUpdateMovie")
        const btnDeleteMovie = document.getElementById("btnDeleteMovie")
        btnCreateMovie.addEventListener("click", async (e)=>{
            e.preventDefault()
            console.log("Đã ấn nút")

            if (!$('#form-movie').valid()){
                return;
            }

            const data = {
                name: nameEl.value,
                description: descriptionEl.value,
                releaseYear: releaseYearEl.value,
                movieType: movieTypeEl.value,
                status : statusEl.value === "1",
                trailer: trailerEl.value,
                countryId: countryEl.value,
                genreIds: $('#genre').val(),
                actorIds: $('#actor').val(),
                directorIds: $('#director').val(),
            }
            if (movieTypeEl.value === "PHIM_LE" || movieTypeEl.value === "PHIM_CHIEU_RAP" && episodes.length>1){
                toastr.error("Nếu là phim lẻ thì chỉ có 1 tập phim. Vui lòng xem lại")
                return;
            }
            // Gọi API
            try {
                let res = await axios.put(`/api/admin/movies/${currentMovie.id}`, data);
                toastr.success("Cập nhật movie thành công")
            } catch (e) {
                console.log(e)
                toastr.error(e.response.data.message);
            }
        })

        btnDeleteMovie.addEventListener("click", async (e)=>{
            const confirm = window.confirm("Bạn có chắc chắn muốn xóa ko")
            if(confirm){
                try {
                    const deleteMovie = await axios.delete(`/api/admin/movies/${currentMovie.id}`)
                    console.log("Sự kiện xóa movie")
                    toastr.success("Xóa thành công movie")
                    setTimeout(()=>{
                        window.location.href='/admin/movies'
                    },1000)
                } catch (error) {
                    console.log(error)
                }
            }
        })

        $('#form-movie').validate({
            rules: {
                name: {
                    required: true,
                    pattern: /^\s*\S.*$/, // Kiểm tra xem có ký tự nào không là khoảng trắng ở đầu không
                },
                releaseYear: {
                    required: true,
                    min: 1900,
                    max: 2100,
                },
                description:{
                    required: true,
                    pattern: /^\s*\S.*$/, // Kiểm tra xem có ký tự nào không là khoảng trắng ở đầu không
                }
            },
            messages: {
                name: {
                    required: "Vui lòng nhập tiêu đề",
                    pattern: "Tiêu đề không được chỉ chứa khoảng trắng"
                },
                releaseYear: {
                    required: "Vui lòng nhập năm phát hành",
                    min: "Không được dưới năm 1900",
                    max: "Không được trên năm 2100"
                },
                description:{
                    required: "Vui lòng nhập mô tả",
                    pattern: "Mô tả không được chỉ chứa khoảng trắng"
                }
            },
            errorPlacement: function (error, element) {
                if (element.attr("name") === "content") { // Kiểm tra nếu là trường nội dung
                    error.appendTo(element.siblings("span")); // Hiển thị thông báo lỗi bên cạnh trường nội dung
                } else {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        //Upload Image
        const inputPosterEl = document.getElementById("input-poster")
        const posterEl = document.getElementById("poster")
        inputPosterEl.addEventListener("change",async (event) =>{
            //lấy file upload
            const files = event.target.files;

            //Tạo đối tượng form data
            const formData = new FormData();
            formData.append("file",files[0])


            //Gọi API
            try {
                let res = await axios.post(`/api/admin/movies/${currentMovie.id}/upload-poster`,formData)
                console.log(res)
                posterEl.src = res.data;
            }catch (e){
                console.log(e)
            }
        })


        //Modal create và update episode
        let episodes = [[${episodes}]]
        const modalEpisodeTitleCreateEl = document.getElementById("modal-title-create")
        const nameEpisodeEl = document.getElementById("nameEpisode")
        const ordersEpisodeEl = document.getElementById("ordersEpisode")
        const btnCreateEpisodeEl = document.getElementById("btnCreateEpisode")

        const modalEpisodeEl = document.getElementById("modal-create-ep")
        const myModalEpisodeEl = new bootstrap.Modal(modalEpisodeEl,{
            keyboard: false
        })
        let idEpisodeUpdate = null;

        //Khi đóng modal thì reset hết giá trị
        modalEpisodeEl.addEventListener('hidden.bs.modal', event => {
            console.log("Su kien dong modal")
            modalEpisodeTitleCreateEl.innerText="Tạo tập phim"
            nameEpisodeEl.value= "";
            ordersEpisodeEl.value = ""
            btnCreateEpisodeEl.innerText="Tạo"
            idEpisodeUpdate=null;
        })

        //Khi ấn nút edit
        const openUpdateModal= (id)=>{
            myModalEpisodeEl.show();
            modalEpisodeTitleCreateEl.innerText="Cập nhật tập phim"
            nameEpisodeEl.value= episodes.find(ep => ep.id===id).name;
            ordersEpisodeEl.value = episodes.find(ep => ep.id===id).orders;
            btnCreateEpisodeEl.innerText="Sửa"
            idEpisodeUpdate=id;
        }

        const episodeFormEl = document.getElementById("episodeForm")
        //khi ấn nút tạo hoặc sửa
        episodeFormEl.addEventListener("submit", async (e) => {
            e.preventDefault();
            console.log("Đã nghe ấn nút")

            if (!$('#episodeForm').valid()){
                return;
            }

            if (movieTypeEl.value === "PHIM_LE" || movieTypeEl.value === "PHIM_CHIEU_RAP" && episodes.length>=1){
               toastr.error("Nếu là phim lẻ thì chỉ có 1 tập phim. Vui lòng xem lại")
                return;
            }

            const data = {
                name: nameEpisodeEl.value,
                orders: ordersEpisodeEl.value,
                movieId: currentMovie.id
            }

            // Gọi API
            if (idEpisodeUpdate!=null){
                await updateEp(data);
            }else {
                await postEp(data);
            }
        })
        //tạo episode
        const postEp =async (data) => {
            try {
                let res = await axios.post("/api/admin/episodes", data);
                episodes.push(res.data);
                episodes.sort((a, b) => a.orders - b.orders);
                renderEpisode(episodes);

                // Dong modal
                myModalEpisodeEl.hide();
                toastr.success("Tạo mới thành công")

            } catch (e) {
                console.log(e)
            }
        }
        //update episode
        const updateEp=async (data) =>{
            try {
                let updateData = await axios.put(`/api/admin/episodes/${idEpisodeUpdate}`, data);

                const editedEpisodeIndex = episodes.findIndex(ep => ep.id === idEpisodeUpdate);
                console.log(idEpisodeUpdate)
                console.log(editedEpisodeIndex)
                if (editedEpisodeIndex !== -1) {
                    episodes[editedEpisodeIndex] = updateData.data;
                    episodes.sort((a, b) => a.orders - b.orders);
                    renderEpisode(episodes);
                }
                // Dong modal
                myModalEpisodeEl.hide();
                toastr.success("Cập nhật thành công")
            } catch (e) {
                console.log(e)
            }
        }
        //Xóa episode
        const deleteEp =async (id)=>{
            const confirm = window.confirm("Bạn có chắc chắn muốn xóa ko")
            if(confirm){
                try {
                    const deleteEp = await axios.delete(`/api/admin/episodes/${id}`)
                    console.log("Sự kiện xóa ep")
                    episodes=episodes.filter(ep=>ep.id !==id);
                    renderEpisode(episodes)

                    // Dong modal
                    myModalEpisodeEl.hide();
                    toastr.success("Xóa thành công")
                } catch (error) {
                    console.log(error)
                }
            }
        }

        //Render danh sách Episode khi tạo mới hoặc update
        const formatDate = dateStr => {
            const date = new Date(dateStr);
            const day = `0${date.getDate()}`.slice(-2); // 01 -> 01, 015 -> 15
            const month = `0${date.getMonth() + 1}`.slice(-2);
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        }
        const episodeListEl = document.getElementById("episodeList")
        const renderEpisode = episodes =>{
            let html=""
            episodes.forEach(episode =>{
                html+=`
                <tr>
                    <td>${episode.orders}</td>
                    <td>${episode.name}</td>
                    <td>${episode.videoURL==null? '': episode.videoURL}</td>
                    <td>${episode.duration==null? '': episode.duration}</td>
                    <td>${formatDate(episode.createdAt)}</td>
                    <td>
                        <button onclick="uploadVideo(${episode.id})" class="btn btn-sm btn-warning text-white">
                            <i class="fas fa-upload"></i>
                        </button>
                        <input type="file" id="input-video-${episode.id}" class="d-none">
                        <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#modal-trailer" onclick="previewVideo(${episode.id})">
                            <i class="fas fa-play"></i>
                        </button>
                        <button class="btn btn-sm btn-success" onclick="openUpdateModal(${episode.id})">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" onclick="deleteEp(${episode.id})">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                `
            })
            episodeListEl.innerHTML=html;
            console.log("Đã render")
        }
        $.validator.addMethod("notEqualToArray", function(value, element, array) {
            return array.indexOf(Number(value)) === -1;
        }, "Thứ tự phim bị trùng");
        //Validate episodeForm
        $('#episodeForm').validate({
            rules: {
                nameEpisode: {
                    required: true,
                },
                ordersEpisode: {
                    required: true,
                    notEqualToArray: episodes.map(e=>e.orders)
                },
            },
            messages: {
                nameEpisode:{
                    required: "Không được để trống tên tập phim.",
                },
                ordersEpisode: {
                    required: "Không được để trống thứ tự tập phim",
                    notEqualToArray: "Thứ tự phim bị trùng"

                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        //Upload video
        const uploadVideo = (id)=>{
            document.getElementById(`input-video-${id}`).click();
            document.getElementById(`input-video-${id}`).addEventListener("change",async (event) =>{
                //lấy file upload
                const files = event.target.files;

                //Tạo đối tượng form data
                const formData = new FormData();
                formData.append("file",files[0])
                console.log(formData)

                //Gọi API
                try {
                    let res = await axios.post(`/api/admin/episodes/${id}/upload-video`,formData)
                    console.log(res)
                    const index = episodes.findIndex(episode => episode.id === id);
                    if (index !== -1) {
                        episodes[index].videoURL = res.data.url;
                        console.log(res.data.url)
                        episodes[index].duration=res.data.duration
                        console.log(res.data.duration)
                        renderEpisode(episodes);
                        toastr.success("Cập nhật video thành công")
                    }
                }catch (e){
                    console.log(e)
                }
            })
        }

        //preview
        const videoEl = document.getElementById("video")
        const previewVideo =  (id)=>{
            const index = episodes.findIndex(episode => episode.id === id);
            if (index !== -1) {
                console.log(episodes[index])
                videoEl.src= episodes[index].videoURL
                console.log("sự kiện phát preview")
            }
        }

    </script>
</th:block>

</body>

</html>