 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: layout(~{:: title},~{:: #css},~{:: .content-wrapper},~{:: #js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tạo sản phẩm</title>

   <th:block id="css">
       <!--Easymde-->
       <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" />
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css" />

       <!--Summernote-->
       <link rel="stylesheet" href="/admin-assets/plugins/summernote/summernote-bs4.min.css">

       <!--Select2-->
       <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css" />
       <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
       <style>
           /* Tùy chỉnh kích thước và kiểu dáng của các label màu */
           .color-label {
               height: 15px;
               width: 15px;
               border-radius: 50%;
               position: relative;
               margin-right: 10px;
               display: inline-block;
               vertical-align: middle; /* Căn giữa label với văn bản */
           }

           /* Tùy chỉnh tên màu sắc */
           .color-name {
               vertical-align: middle;
           }

           /* Tùy chỉnh padding và khoảng cách của các tùy chọn trong danh sách */
           .select2-results__option {
               padding: 5px 10px;
               display: flex; /* Để label màu và văn bản nằm trên cùng một hàng */
               align-items: center;
           }

           /* Tùy chỉnh hiệu ứng khi chọn một tùy chọn */
           .select2-results__option--highlighted {
               background-color: #f0f0f0;
           }

           /* Tùy chỉnh kiểu dáng của các tùy chọn đã chọn */
           .select2-selection__rendered {
               display: flex;
               align-items: center;
               flex-wrap: wrap; /* Cho phép văn bản và các label màu nằm trên nhiều dòng */
           }

           .select2-selection__choice {
               margin: 2px;
               padding: 2px 8px;
               border-radius: 16px;
               background-color: #e9ecef;
               border: 1px solid #ccc;
               display: flex;
               align-items: center;
               position: relative; /* Để có thể căn chỉnh dấu x */
           }

           /* Tùy chỉnh dấu x bỏ chọn */
           .select2-selection__choice__remove {
               margin-left: 8px;
               cursor: pointer;
               position: absolute; /* Đặt dấu x ở vị trí tương đối với phần tử chứa */
               right: 1px; /* Khoảng cách từ bên phải */
               top: 50%; /* Căn giữa dọc */
               transform: translateY(-50%); /* Căn giữa dọc hoàn hảo */
           }
       </style>


   </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
   <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a th:href="@{/admin/products}">Danh sách sản phẩm</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Tạo sản phẩm
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </button>
                        <button type="button" class="btn btn-info px-4" id="btnCreateMovie">
                            Lưu
                        </button>
                    </div>


                </div>

                <div class="row">
                    <div class="col-12">
                        <form id="form-movie">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Tên sản phẩm</label>
                                                <input type="text" class="form-control" id="name" name="name"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Giá tiền</label>
                                                <input type="text" class="form-control" id="price" name="price"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Mô tả ngắn</label>
                                                <textarea id="description" class="form-control" rows="3" name="description"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Trạng thái</label>
                                                <select id="status" class="form-control">
                                                    <option value="0">
                                                        Ẩn
                                                    </option>
                                                    <option value="1">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Danh mục cha</label>
                                                <select id="categoryParent" class="form-control">
                                                    <option th:each="categoryParent : ${categoryParents}" th:value="${categoryParent.id}" th:text="${categoryParent.name}" >
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Danh mục con</label>
                                                <select id="categoryChild" class="form-control" disabled>
                                                    <option th:each="categoryParent : ${categoryParents}" th:value="${categoryParent.id}" th:text="${categoryParent.name}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Màu sắc</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple" id="color">
                                                        <!-- Ví dụ sử dụng Thymeleaf để lặp qua danh sách màu -->
                                                        <option th:each="color : ${colors}"
                                                                th:text="${color.colorName}"
                                                                th:value="${color.id}"
                                                                th:data-color="${color.colorCode}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- <div class="form-group">
                                                 <label>Kích thước</label>
                                                 <div class="select2-purple">
                                                     <select class="select2 form-control" multiple="multiple"
                                                             id="size">
                                                         <option th:each="size :${sizes}" th:text="${size.sizeName}" th:value="${size.id}">
                                                         </option>
                                                     </select>
                                                 </div>
                                             </div>-->

                                          <!--  <div class="form-group">
                                                <div class="thumbnail-preview-container mb-3">
                                                    <img src="" alt="" id="poster">
                                                </div>
                                                <label for="input-poster" class="btn btn-info btn-flat" data-toggle="modal" data-target="#modal-xl">
                                                    Chọn hình ảnh
                                                </label>
                                                <input type="file" id="input-poster" class="d-none">
                                            </div>-->
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block id="js">
    //Summernote
    <script src="/admin-assets/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>

    <script th:inline="javascript">
        //Initialize Select2 Elements
        $(document).ready(function() {
            // Khởi tạo Select2
            $('#color').select2({
                templateResult: formatState,
                templateSelection: formatState
            });

            function formatState(state) {
                if (!state.id) {
                    return state.text;
                }
                var color = $(state.element).data('color');
                var $state = $(
                    '<span class="color-name">' + state.text + '</span>'+
                    '&ensp;<span class="color-label" style="background-color:' + color + '"></span>;'
                );
                return $state;
            }
        });




        // // Initialize editor
        // const easyMDE = new EasyMDE({
        //   element: document.getElementById("content"),
        //   spellChecker: false,
        //   maxHeight: "500px",
        //   renderingConfig: {
        //     codeSyntaxHighlighting: true,
        //   },
        // });


        // // Summernote
        // $('#content').summernote({
        //     height: 600,                 // set editor height
        //     minHeight: null,             // set minimum height of editor
        //     maxHeight: null,             // set maximum height of editor
        //     focus: true,                 // set focus to editable area after initializing summernote
        //     disableLinkTarget: true
        // });



        //Create movie
       /* let nameEl = document.getElementById("name")
        let trailerEl = document.getElementById("trailer")
        let descriptionEl = document.getElementById("description")
        let statusEl = document.getElementById("status")
        let releaseYearEl = document.getElementById("releaseYear")
        let movieTypeEl = document.getElementById("movieType")
        let countryEl = document.getElementById("country")
        const btnCreateMovie = document.getElementById("btnCreateMovie")
        btnCreateMovie.addEventListener("click", async (e)=>{
            e.preventDefault()
            console.log("Đã ấn nút")

            if (!$('#form-movie').valid()){
                return;
            }
            const data = {
                name: nameEl.value,
                description: descriptionEl.value,
                releaseYear: releaseYearEl.value,
                movieType: movieTypeEl.value,
                status : statusEl.value === "1",
                trailer: trailerEl.value,
                countryId: countryEl.value,
                genreIds: $('#genre').val(),
                actorIds: $('#actor').val(),
                directorIds: $('#director').val(),
            }
            // Gọi API
            try {
                let res = await axios.post("/api/admin/movies", data);
                toastr.success("Tạo movie thành công")
                setTimeout(()=>{
                    window.location.href='/admin/movies'
                },1000)
            } catch (e) {
                console.log(e)
                toastr.error(e.response.data.message);
            }
        })

        $('#form-movie').validate({
            rules: {
                name: {
                    required: true,
                    pattern: /^\s*\S.*$/, // Kiểm tra xem có ký tự nào không là khoảng trắng ở đầu không
                },
                releaseYear: {
                    required: true,
                    min: 1900,
                    max: 2100,
                },
                description:{
                    required: true,
                    pattern: /^\s*\S.*$/, // Kiểm tra xem có ký tự nào không là khoảng trắng ở đầu không
                }
            },
            messages: {
                name: {
                    required: "Vui lòng nhập tiêu đề",
                    pattern: "Tiêu đề không được chỉ chứa khoảng trắng"
                },
                releaseYear: {
                    required: "Vui lòng nhập năm phát hành",
                    min: "Không được dưới năm 1900",
                    max: "Không được trên năm 2100"
                },
                description:{
                    required: "Vui lòng nhập mô tả",
                    pattern: "Mô tả không được chỉ chứa khoảng trắng"
                }
            },
            errorPlacement: function (error, element) {
                if (element.attr("name") === "content") { // Kiểm tra nếu là trường nội dung
                    error.appendTo(element.siblings("span")); // Hiển thị thông báo lỗi bên cạnh trường nội dung
                } else {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });*/
    </script>
</th:block>
</body>

</html>