<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<div class="content">
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links" sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">Đăng nhập</a>
            </div>
            <div class="offcanvas__links" sec:authorize="isAuthenticated()">
                <div class="dropdown">
                    <a class="btn bg-dark dropdown-toggle nav-link text-white " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.principal.user.name}">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu text-decoration-none">
                        <li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item" th:href="@{/admin/dashboard}">Trang quản trị</a></li>
                        <li><a class="dropdown-item " th:href="@{/thong-tin-ca-nhan}">Thông tin cá nhân</a></li>
                        <li><a class="dropdown-item" href="#">Lịch sử mua hàng</a></li>
                        <li><a class="dropdown-item"  th:href="@{/logout}">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a th:href="@{/}" class="search-switch"><img src="/web-assets/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/web-assets/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/web-assets/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">0.0 VNĐ</div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Miễn phí vận chuyển, đảm bảo hoàn trả hoặc hoàn tiền trong 30 ngày.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links" sec:authorize="!isAuthenticated()">
                                <a th:href="@{/login}">Đăng nhập</a>
                            </div>
                            <div class="header__top__links" sec:authorize="isAuthenticated()">
                                <div class="dropdown">
                                    <a class="btn bg-dark dropdown-toggle nav-link text-white " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.principal.user.name}">
                                        Dropdown link
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item text-black" th:href="@{/admin/dashboard}"  >Trang quản trị</a></li>
                                        <li><a class="dropdown-item text-black" th:href="@{/thong-tin-ca-nhan}">Thông tin cá nhân</a></li>
                                        <li><a class="dropdown-item text-black " href="#">Lịch sử mua hàng</a></li>
                                        <li><a class="dropdown-item text-black"  th:href="@{/logout}">Đăng xuất</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a th:href="@{/}"><img src="/web-assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li id="home-menu">
                                <a th:href="@{/}">Trang Chủ</a>
                            </li>
                            <li id="product-menu">
                                <a th:href="@{/product-shop}">Sản Phẩm</a>
                            </li>
                          <!--  <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Shop Details</a></li>
                                    <li><a href="">Shopping Cart</a></li>
                                    <li><a href="">Check Out</a></li>
                                    <li><a href="">Blog Details</a></li>
                                </ul>
                            </li>-->
                            <li id="blog-menu">
                                <a th:href="@{/blog}">Bài Viết</a>
                            </li>
                            <li><a href="">Thông Tin Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/web-assets/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="/web-assets/img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="/web-assets/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">0.0 VNĐ</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var currentUrl = window.location.pathname;

            // Kiểm tra nếu URL là trang chủ
            if (currentUrl === '/' || currentUrl === '') {
                document.getElementById('home-menu').classList.add('active');
            } else if (currentUrl.includes('/product')) {
                document.getElementById('product-menu').classList.add('active');
            } else if (currentUrl.includes('/blog')) {
                document.getElementById('blog-menu').classList.add('active');
            }
        });
    </script>
</div>
</body>
</html>